/** @format */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* Global Styles */
:root {
  --primary-color: #165b05;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #f8071f;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: rgb(174, 175, 174);
  background-color: #061d00;
  /* border: 2px solid orange; */
}

p {
  font-size: 0.75rem;
}

a {
  text-decoration: none;
  font-size: 0.75rem;
  color: rgb(174, 175, 174);
}

ul {
  color: rgb(174, 175, 174);
}

li {
  text-decoration: none;
  list-style: none;
}

button {
  width: 5rem;
  font-size: 0.6rem;
  padding: 0.2rem;
  border-radius: 2px;
  border: none;
  transition: 0.7s ease-in-out;
}

button:hover {
  background-color: #dbf8d3;
  color: #262726;
  cursor: pointer;
}

/* Nav */

.nav-container {
  width: 100%;
  height: 8vh;
  background-color: #f4f4f4;
  padding-top: 0.2rem;
  margin-bottom: 1rem;
  border-top: 1px solid #061d00;
}

.nav-left {
  float: left;
  padding-left: 0.5rem;
}

.github-nav {
  padding-right: 1rem;
}

.nav-right {
  float: right;
  display: flex;
  padding-right: 0.5rem;
  justify-content: space-between;
  width: 7rem;
  /* border: 1px solid red; */
}

.nav-right-item {
  font-size: 0.9rem;
  color: #061d00;
  padding-right: 0.5rem;
}

.nav-container h3 {
  font-size: 0.9rem;
  color: #061d00;
}

/* App content */

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* border: 3px solid red; */
}

/* Alert */

.alert-container {
  background-color: rgba(255, 0, 0, 0.475);
  text-align: center;
  width: 100%;
  height: 1.5rem;
  /* border: 3px solid red; */
  border-radius: 2px;
}

/* Search */

.form-container {
  width: 100%;
  text-align: center;
  /* border: 2px solid red; */
}

.github-search {
  font-size: 7rem;
}

.search-label {
  font-size: 0.8rem;
  margin-right: 1rem;
}

#search-input {
  width: 13rem;
  height: 1.3rem;
  border-radius: 2px;
  border: none;
  margin: 0.2rem;
  padding-left: 0.5rem;
  font-size: 0.6rem;
}

.search-submit {
  font-size: 0.6rem;
  padding: 0.2rem;
  border-radius: 2px;
  border: none;
}

input[type='text'] {
  border: none;
  background-color: rgb(174, 175, 174);
}

input[type='text']:focus {
  background-color: #dbf8d3;
}

input[type='submit'] {
  font-size: 0.7rem;
  background-color: rgb(174, 175, 174);
  border: none;
  transition: 0.5s ease-out;
}

input[type='submit']:hover {
  background-color: #dbf8d3;
}

input[type='submit']:active {
  background-color: #dbf8d3;
  transform: scale(1.01, 1.01);
}

.clear-users-button {
  width: 92%;
  font-size: 0.6rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  /* padding: 0.5rem; */
  background-color: rgb(174, 175, 174);
  color: #061d00;
  /* border: 1px dotted rgb(109, 108, 108); */
  border-radius: 2px;
}

.search-ann {
  text-align: center;
  padding-top: 30px;
  font-size: 0.9rem;
}

/* Users */

.users-container {
  width: 95%;
  background-color: #061d00;
  border-radius: 10px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* border: 1px dotted rgb(109, 108, 108); */
}

.spinner {
  dispaly: block;
  width: 150;
  margin: auto;
}

/* User card */

.user-item-container {
  /* background-color: #262726; */
  margin: 10px;
  width: 115px;
  height: 200px;
  text-align: center;
  border: 1px dotted grey;
  border-radius: 2px;
}

.user-item-avatar {
  margin: 20px;
  width: 50px;
  border-radius: 10px;
}

.user-item-name {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.user-item-button {
  background-color: rgb(174, 175, 174);
  color: #061d00;
  border: 1px dotted rgb(109, 108, 108);
  cursor: pointer;
}

.user-item-button-link {
  font-size: 0.65rem;
  color: rgb(174, 175, 174);
}

/* User page */

.back-to-search {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.back-to-search button {
  width: 95%;
  background-color: rgb(174, 175, 174);
  text-align: left;
}

.back-to-search button:hover {
  background-color: #dbf8d3;
  color: #262726;
  cursor: pointer;
}

.fa-chevron-circle-left {
  padding-right: 0.3rem;
  color: #061d00;
}

.back-to-search-link {
  width: 95%;
  color: #061d00;
  text-align: left;
}

.user-container {
  width: 95%;
  height: 80vh;
  border: 1px dotted rgb(109, 108, 108);
  margin: auto;
  /* border-bottom: 1px dotted rgb(109, 108, 108); */
}

.user-container-left {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  border-right: 1px dotted rgb(109, 108, 108);
}

.bio-p {
  padding: 1rem;
}

.user-container-right {
  position: relative;
  float: right;
  width: 50%;
  height: 100%;
  /* border: 2px solid blue; */
}

.user-container-right-header {
  margin: auto;
  margin-top: 1rem;
  width: 40vw;
  text-align: center;
}

.user-container-right-header-button {
  width: 100%;
  background-color: rgb(174, 175, 174);
  font-size: 1rem;
}

.user-container-right-header-a {
  color: #061d00;
}

.user-info-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1rem;
}

.user-container-right-item {
  font-size: 0.75rem;
  width: 19vw;
  margin: 5px;
  border-bottom: 1px dotted rgb(109, 108, 108);
  border-radius: 2px;
}

.user-container-right-item li {
  font-size: 0.2rem;
}

.user-avatar-user {
  margin: 20px;
  width: 100px;
  border: 2px solid rgb(174, 175, 174);
  border-radius: 10px;
}

/* User Repos */

.user-repos {
  width: 95%;
  height: 10rem;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px dotted rgb(109, 108, 108);
  border-top: none;

  /* border: 8px solid pink; */
}

.repos-header {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.repo-items {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}
