/** @format */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Global Styles  */

:root {
  --primary-color: #061d00;
  --secondary-color: rgb(174, 175, 174);
  --grey-color: rgb(109, 108, 108);
  --hover-background-color: #dbf8d3;
  --hover-font-color: #262726;
  --dark-color: #262726;
  --danger-color: rgba(255, 0, 0, 0.475);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

p {
  font-size: 0.75rem;
}

a {
  text-decoration: none;
  font-size: 0.75rem;
  color: var(--secondary-color);
}

ul {
  color: var(--secondary-color);
}

li {
  text-decoration: none;
  list-style: none;
}

button {
  width: 5rem;
  font-size: 0.6rem;
  padding: 0.2rem;
  border-radius: 2px;
  border: none;
  transition: 0.7s ease-in-out;
}

button:hover {
  background-color: var(--hover-background-color);
  color: var(--hover-font-color);
  cursor: pointer;
}

/* Nav */

.nav-container {
  width: 100%;
  height: 8vh;
  background-color: #f4f4f4;
  padding-top: 0.2rem;
  margin-bottom: 1rem;
  border-top: 1px solid var(--primary-color);
}

.nav-left {
  float: left;
  padding-left: 0.5rem;
}

.github-nav {
  padding-right: 1rem;
}

.nav-right {
  float: right;
  display: flex;
  padding-right: 0.5rem;
  justify-content: space-between;
  width: 7rem;
  /* border: 1px solid red; */
}

.nav-right-item {
  font-size: 0.7rem;
  color: var(--primary-color);
  padding-right: 0.5rem;
}

.nav-container h3 {
  font-size: 0.9rem;
  color: var(--primary-color);
}

/* Alert */

.alert-container {
  background-color: var(--danger-color);
  text-align: center;
  width: 92%;
  height: 1.5rem;
  border-radius: 2px;
  margin: auto;
  margin-bottom: 2rem;
}

/* Search */

.form-container {
  width: 100%;
  text-align: center;
  /* border: 2px solid red; */
}

.github-search {
  font-size: 4rem;
}

.search-label {
  font-size: 0.8rem;
  margin-right: 1rem;
}

#search-input {
  width: 13rem;
  height: 1.3rem;
  border-radius: 2px;
  border: none;
  margin: 0.2rem;
  padding-left: 0.5rem;
  font-size: 0.6rem;
}

.search-submit {
  font-size: 0.6rem;
  padding: 0.2rem;
  border-radius: 2px;
  border: none;
}

input[type='text'] {
  border: none;
  background-color: var(--secondary-color);
}

input[type='text']:focus {
  background-color: var(--hover-background-color);
}

input[type='submit'] {
  font-size: 0.7rem;
  background-color: var(--secondary-color);
  border: none;
  transition: 0.5s ease-out;
}

input[type='submit']:hover {
  background-color: var(--hover-background-color);
}

input[type='submit']:active {
  background-color: var(--hover-background-color);
  transform: scale(1.01, 1.01);
}

.clear-users-button {
  width: 92%;
  font-size: 0.6rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 2px;
}

.search-ann {
  text-align: center;
  padding: 1rem;
  padding-top: 2rem;
  font-size: 0.9rem;
}

/* Spinner */

.spinner {
  width: 150px;
}

/* Users */

.users-container {
  width: 95%;
  margin: auto;
  background-color: var(--primary-color);
  border-radius: 10px;
  display: grid;
  grid-gap: 0.5rem;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
  padding-bottom: 1rem;
}

.spinner {
  display: block;
  width: 150;
  margin: auto;
}

/* User card */

.user-item-container {
  margin: auto;
  margin-top: 10px;
  width: 110px;
  height: auto;
  text-align: center;
  border: 1px dotted var(--dark-color);
  border-radius: 2px;
}

.user-item-avatar {
  margin: 1rem;
  width: 50px;
  border-radius: 10px;
}

.user-item-name {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.user-item-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px dotted var(--grey-color);
  cursor: pointer;
  margin-bottom: 1rem;
}

.user-item-button-link {
  font-size: 0.65rem;
  color: var(--secondary-color);
}

/* User page */

.back-to-search {
  width: 92%;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--secondary-color);
  transition: 0.7s ease-in-out;
}

.back-to-search:hover {
  background-color: var(--hover-background-color);
}

.fa-chevron-circle-left {
  padding-right: 0.3rem;
  color: var(--dark-color);
}

.back-to-search-link {
  width: 92%;
  color: var(--dark-color);
  text-align: left;
  font-size: 0.6rem;
}

.user-container {
  width: 95%;
  height: 350px;
  border: 1px dotted var(--grey-color);
  margin: auto;
  border-bottom: none;
  border-radius: 2px;
}

.user-container-left {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  border-right: 1px dotted var(--grey-color);
  padding: 0.1rem;
}

.user-avatar-user {
  margin: 20px;
  width: 100px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}

.bio-p {
  padding: 1rem;
}

.user-container-right {
  position: relative;
  float: right;
  width: 50%;
  height: 100%;
}

.user-container-right-visit {
  margin: auto;
  margin-top: 2rem;
  width: 85%;
  /* border: 5px solid orange; */
}

.user-container-right-header-button {
  width: 100%;
  background-color: var(--secondary-color);
  font-size: 1rem;
}

.user-container-right-header-a {
  color: var(--primary-color);
}

.user-info-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1rem;
}

.user-info-container-right-item {
  font-size: 0.75rem;
  width: 19vw;
  margin: 5px;
  border-bottom: 1px dotted var(--grey-color);
  border-radius: 2px;
}

.user-container-right-item li {
  font-size: 0.2rem;
}

/* User Repos */

.user-repos {
  width: 95%;
  height: auto;
  margin: auto;
  margin-top: none;
  margin-bottom: 1rem;
  border: 1px dotted var(--grey-color);
}

.user-repos-container {
  margin: auto;
  padding-bottom: 0.5rem;
}

.repos-header {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.repo-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 0.5rem;
  padding-left: 1.5rem;
}

/* Media Querries */

@media (max-width: 500px) {
  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  h4 {
    font-size: 0.7rem;
  }

  h5 {
    font-size: 0.6rem;
  }

  p {
    font-size: 0.55rem;
  }

  a {
    font-size: 0.55rem;
  }

  li {
    font-size: 0.55rem;
  }
}
